.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    color: #173261;
}

.header .logo button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.header .logo img {
    max-width: 100%;  
    height: auto;     
    width: 150px;     
}

.header .navigation ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.header .navigation ul li {
    display: inline;
}

.header .navigation ul li a {
    color: #173261;
    text-decoration: none;
    font-size: 1.2rem;
}

.header .navigation ul li a:hover {
    text-decoration: underline;
}
