.Topo {
    background-color: white; 
    color: #173261; 
    text-align: center; 
    padding: 50px 30px; 
}

.TOPO {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    flex-wrap: wrap; 
    gap:20px;
}

.TOPO h1 {
    width: 770px; 
    text-align: left; 
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 58px;
    line-height: 87px;
    margin-top: 30px;
    margin-bottom: 10px; 
}

.TOPO h3 {
    width: 736px;
    text-align: justify; 
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #173261;
    line-height: 30px;
    margin-top: 0; 
}


.img {
    width: 40%; 
    max-width: 736px; 
    height: auto; 
    display: flex;
    align-items: center; 
    margin-top: 0; 
}

.img img {
    width: 100%; 
    height: auto;
    object-fit: cover; 
    border-radius: 10px; 
}

.Button {
    text-align: center; 
    margin-top: 0px; 
    width: 100%; 
}

.Button button {
    background-color: #173261;
    color: white; 
    border: none;
    padding: 20px 50px; 
    font-size: 18px; 
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: all 0.3s ease; 
}

.Button button:hover {
    background-color: #1252a3;
    transform: scale(1.05);
}

.Button button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 82, 204, 0.7); 
}